.cabecalho{
    background-color: #fdcb7b;
    min-height: 10vh;
    display: flex;
    align-items: left;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 5px;
  }